{% extends "base.html" %}

{% block title %}Transactions by Parent Category{% endblock %}

{% block content %}
<h1 align="center">Transactions by Parent Category</h1>

<!-- Month-Year Picker Form -->
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.month_year.label }} {{ form.month_year(id="monthYearPicker") }}
    <input type="submit">
</form>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var monthYearPicker = document.getElementById("monthYearPicker");
        monthYearPicker.type = "month";
    });
</script>

<!-- Chart Canvas -->
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var labels = {{ categories | tojson }};
    var data = {{ total_amounts | tojson }};
    var backgroundColors = [];
    var borderColors = [];

    for (var i = 0; i < labels.length; i++) {
        var newColor = getRandomColor();
        backgroundColors.push(newColor);
        borderColors.push(newColor);
    }

    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Total Amount',
                data: data,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Total Amount by Parent Category'
                }
            }
        },
    });
</script>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Parent Category</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.parent_category }}</td>
            <td>{{ transaction.total_amount }}</td>
            <td>{{ transaction.total_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Display total income and expenditure -->
<p>Total Income: {{ total_income }}</p>
<p>Total Expenditure: {{ total_expenditure }}</p>
<p>Total Savings: {{ total_savings }}</p>
{% endblock %}
